
<div class="row">

<h1>
  <span class="font-effect-shadow-multiple" style="font-size:50px; font-family:Luckiest Guy; color:#6e2585">Welcome TO </span>
  <span class="font-effect-3d" style="font-size:50px; font-family:Sonsie One; color:#ae9a64 ">People (get/post) </span>
  <span class="font-effect-shadow-multiple" style="font-size:50px; font-family:Luckiest Guy; color:#cf0072">SEARCH</span>
</h1>
 <div style="padding-top:50px;">
 <p>
<button type="button" class="s3-btn s3-btn1" ui-sref="getMethod">Get</button>
</p>


<p>
<button type="button" class="s3-btn s3-btn5" ui-sref="postMethod">Post</button>
</p>
    </div>
</div>